@charset "utf-8";
/*Paletas de cores
verde: #49a09d
roxo: #5f2c82
*/
:root{
  --CorPriDest--:#5f2c82;
  --CorPriNor--: #fbf6ff;
  --CorSecDest--:#49a09d;
}

#imagem{
  background: url('imagens/fundo2_log.jpg') center center;
  background-size: 70%;
  width: 100%;
  height: 30vh;
}
h1{
  text-align: center;
  font-weight: 900;
}
p{
  text-align: justify;
}
.main__div{
  border: 3px solid var(--CorPriDest--);
  background-color: var(--CorPriDest--);
  border-radius: 8px;
  display: flex;
  place-items: center;
  margin-top: 5px;
}

.dados__input{
  height: 30px;
  background: var(--CorPriNor--);
  border-radius: 8px;
  width: 100%;
 
}
.material-symbols-outlined{
  background: var(--CorPriDest--);
  color: var(--CorPriNor--);
  width: 50px;
}

.main__button{
  width: 100%;
  margin-top: 5px;
  height: 40px;
  background: var(--CorSecDest--);
  border: none;
  border-radius: 8px;
  color: white;
}

/* RESPONSIVIDADE */
/* tela 1 */
@media (max-width:790px){
   
  h1::before{
    content:'t1 ' ;
  }
  section{
    width: 100%;
    margin: auto;
  }
  #formulario{
     width: 90%;
     margin: auto;
  }
  body, html{
    margin: 0px;
    font-size: 1.1em;
  }
}

/* Tela 3 */
@media screen and (orientation: landscape){
section{
  width: 500px;
  margin: auto;
  background: white;
}
  
  h1::before{
    content:'t2 ' ;
  }
#formulario{
  margin: 10px;
  font-size: 1rem;
}

body{
  background: var(--CorPriDest--);
}
}





